body{
font-family: Arial;
padding:20px;
}

.block{
display:block;
background:lightblue;
margin:5px;
padding:10px;
}

.inline{
display:inline;
background:lightgreen;
padding:5px;
}

.inline-block{
display:inline-block;
background:orange;
padding:20px;
margin:5px;
}

.table{
display:table;
border:2px solid black;
}

.row{
display:table-row;
}

.cell{
display:table-cell;
padding:10px;
border:1px solid black;
}

.hidden{
visibility:hidden;
}

@media(max-width:768px){
.inline-block{
display:block;
}
}