body{
  margin:0;
  font-family:Arial, sans-serif;
  font-size:14px;
}

header{
  text-align:center;
  background:#333;
  color:white;
  padding:15px;
}

.hero{
  background:lightblue;
  padding:40px 20px;
  text-align:center;
}

.hero img{
  width:40%;          
  max-width:200px;    
  height:auto;
  border-radius:10px;
  display:block;
  margin:0 auto;     
}

h1{
  font-size:clamp(1.5rem, 5vw, 3rem);
}

p{
  font-size:1rem;
}

.features{
  display:flex;
  flex-direction:column;
  gap:10px;
  padding:20px;
}

.features div{
  background:#eee;
  padding:20px;
  text-align:center;
  border-radius:10px;
}

@media(min-width:768px){

  body{
    font-size:16px;
  }

  .features{
    flex-direction:row;
  }

  .features div{
    flex:1;
  }

  .hero img{
    width:10%;
    max-width:200px; 
  }
}