body{
font-family:Arial;
}

.container{
overflow:auto;
}

.main{
float:left;
width:70%;
}

.sidebar{
float:right;
width:25%;
background:#eee;
padding:10px;
}

.floatimg{
float:left;
margin:10px;
}

footer{
clear:both;
text-align:center;
background:#ddd;
padding:10px;
}

@media(max-width:768px){

.main,
.sidebar{
float:none;
width:100%;
}

}