table{
width:100%;
border-collapse:collapse;
}

td, th{
border:1px solid black;
padding:10px;
}

/* Mobile → card style */
@media(max-width:768px){

table, tr, td, th{
display:block;
width:100%;
}

tr{
margin-bottom:10px;
}

}