<!DOCTYPE html>
<html>
<head>
<title>Flexbox Cards</title>
<link rel="stylesheet" href="../styles/cards.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<h1>Flexbox Card Layout</h1>

<div class="card-container">

<div class="card">
<img src="images/card1.jpeg" >
<h3>Pikaachu</h3>
<p>Pikachu is an Electric-type Pokémon.</p>
<button>Read More</button>
</div>

<div class="card">
<img src="images/card2.jpeg" >
<h3>Studying</h3>
<p>Different content but same height studying .</p>
<button>Read More</button>
</div>

<div class="card">
<img src="images/card3.jpeg" >
<h3>Products</h3>
<p>Products for care.</p>
<button>Read More</button>
</div>

</div>

</body>
</html>


