<!DOCTYPE html>
<html>
<head>
<title>Landing Page</title>
<link rel="stylesheet" href="../styles/landing.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header>
  <h1>Welcome</h1>
</header>

<section class="hero">
  <img src="images/img1.jpg"  loading="lazy" alt="Hero Image" >
  <h1>Hero Section</h1>
  <p>Your amazing product starts here.</p>
</section>

<section class="features">
  <div>Feature 1</div>
  <div>Feature 2</div>
</section>

</body>
</html>