<!DOCTYPE html>
<html>
<head>
<title>Product Grid</title>
<link rel="stylesheet" href="../styles/products.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<h1>Products</h1>

<div class="layout">

<aside class="sidebar">
<h3>Filters</h3>
<p>Category</p>
</aside>

<div class="products">

<div class="card">
<img src="images/crd1.jpeg">
<h3>Product 1</h3>
<p>$20</p>
</div>

<div class="card">
<img src="images/crd2.jpeg">
<h3>Product 2</h3>
<p>$30</p>
</div>

<div class="card">
<img src="images/crd3.jpeg">
<h3>Product 3</h3>
<p>$40</p>
</div>

<div class="card">
<img src="images/crd4.jpeg">
<h3>Product 4</h3>
<p>$50</p>
</div>

</div>

</div>

</body>
</html>